:host {
  display: flex;
  justify-content: center;
  margin: 32px 0px;
}
mat-form-field {
  width: 100%;
  min-width: 320px;
  margin: 12px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 400px;
}

.button {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  height: 48px;
  width: 100%;
  color: white;
}
.button-login {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 100%;
  text-decoration: underline;
  color: var(--primary);
  margin-top: 4px;
}
mat-card{
  padding: 20px 16px;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.banner-image {
  width: 100%;
  height: auto;
  align-self: center;
}

.banner-content {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}
