<mat-card *ngIf="job?.id == -1" class="job-card">
</mat-card>
<mat-card *ngIf="job?.id !== -1" (click)="onViewClick()" class="job-card">
  <mat-card-header>
    <mat-card-title>{{ job?.title }} </mat-card-title>
    <mat-card-subtitle>{{ job?.company?.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="job-details">
    <p><mat-icon>location_on</mat-icon>Location: {{ job?.workplace }}</p>
    <div class="inline">
      <p><mat-icon>attach_money</mat-icon>Salary: {{ job?.salary }} €</p>
      <p>
        <mat-icon>description</mat-icon>Contract:
        <span
          [ngClass]="{
            'full-time': job?.contract === 'FullTime',
            'part-time': job?.contract === 'PartTime',
            temporary: job?.contract === 'Temporary',
            freelance: job?.contract === 'Freelance',
            internship: job?.contract === 'Internship'
          }"
          >{{ job?.contract }}</span
        >
      </p>
    </div>
    <div class="inline">
      <p>
        <mat-icon>event</mat-icon>Deadline:
        {{ job?.expiredDate | date : "dd MMMM yyyy" }}
      </p>
      <p><mat-icon>people</mat-icon>Hiring: {{ job?.amountHiring }}</p>
    </div>
  </mat-card-content>
</mat-card>
