<div *ngIf="applications.length === 0" class="empty-list-text">
  No applications found.
</div>
<div *ngFor="let application of applications" class="application-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ application.job.title }}</mat-card-title>
      <mat-card-subtitle>{{ application.job.company.name }}</mat-card-subtitle>
      <mat-card-subtitle>{{
        application.job.company.introduction
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="applied">
        <p>
          Job status:
          <span
            [ngClass]="{
              'cancelled-text': application.job.status === 'Cancelled',
              'open-text': application.job.status === 'Open',
              'closed-text': application.job.status === 'Closed'
            }"
            >{{ application.job.status }}</span
          >
        </p>
        <p>
          Applied Date:
          {{ application.createdDate | date : "dd MMMM yyyy" }}
        </p>
        <button disabled="true" mat-button>Delete application</button>
      </div>
      <div class="expired">
        <p>
          Contract:
          <span
            [ngClass]="{
              'full-time': application.job.contract === 'FullTime',
              'part-time': application.job.contract === 'PartTime',
              temporary: application.job.contract === 'Temporary',
              freelance: application.job.contract === 'Freelance',
              internship: application.job.contract === 'Internship'
            }"
            >{{ application.job.contract }}</span
          >
        </p>
        <p>
          Expired Date:
          {{ application.job.expiredDate | date : "dd MMMM yyyy" }}
        </p>
        <button
          mat-button
          color="primary"
          (click)="deleteApplication(application.id)"
        >
          Delete application
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
